@import "./colors";

.article {
  padding: 8rem 0;
  background-color: $veryLightGrey;

  .article__wrapper {
    max-width: 1080px;
    margin: auto;
  }

  .article__title {
    h1 {
      font-size: 2.4rem;
      font-weight: 300;
      color: $darkBlue;
    }
  }

  .article__cards {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
}
