@import "./colors";

.gradient-btn {
  padding: 0.8rem 2rem;
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  border: none;
  color: $white;
  font-size: 1;
  font-family: "Public Sans";
  font-weight: 600;
  min-height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }
}
