@import "./colors";

.menu {
  position: absolute;
  z-index: 2;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(45, 49, 77, 0.75),
    rgba(0, 0, 0, 0)
  );
  padding: 1rem;

  .menu__items {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 0.5rem;

    .menu__item {
      color: $darkBlue;
      flex: 1;
      text-align: center;
      font-size: 1.125rem;
      line-height: 2.5rem;
    }
  }
}
