@import "./colors";

.navbar {
  position: relative;
  z-index: 2;
  padding: 1rem;
  background-color: $white;

  .navbar__wrapper {
    margin: auto;
    max-width: 1080px;
    display: flex;
  }

  .navbar__logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 10rem;
      height: auto;
    }
  }

  .navbar__items {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      color: $grayishBlue;
      cursor: pointer;
      display: block;
      text-align: center;
      transition: all ease-out 0.25s;

      &::after {
        content: " ";
        display: block;
        width: 100%;
        height: 0.25rem;
        transform: translateY(1.6rem);
        opacity: 0;
        transition: all ease-out 0.25s;
      }

      &:hover {
        color: #000000;
        &::after {
          content: " ";
          display: block;
          width: 100%;
          height: 0.25rem;
          background-image: linear-gradient(to right, $limeGreen, $brightCyan);
          opacity: 1;
        }
      }
    }
  }

  .navbar__button {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
}
